#clientUpdateAdIcon {
    display: inline-block;
    color: #fff;
    line-height: 65px;
    width: 65px;
    height: 65px;
    text-align: center;
    margin-top: -5px;
    margin-left: -5px;
    margin-bottom: -10px;
    border-radius: 3px;
    background-image: url("https://serpentclient.app/news.png");
    background-size: cover
}

.serpentBadge {
    width: 1.33em;
    height: 1.33em;
}